

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.soft-btn{
    @apply shadow-lg;
    /* box-shadow:  inset -3px -3px 5px 0px rgba(0, 0, 0, 0.224), inset 3px 3px 5px 0px rgba(255, 255, 255, 0.491); */
}

.soft-btn:hover{
    @apply shadow;
    /* box-shadow:  inset -3px -3px 5px 0px rgba(0, 0, 0, 0.135), inset 3px 3px 8px 0px rgba(255, 255, 255, 0.224); */
}


.hide-me{
    transform: translateX(50px);
    opacity: 0;
}
.show-me {
    animation:  showAnim 0.5s ease-in;
}

@keyframes showAnim {
    0%{
        transform: translateX(50px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}